mixin btnMethod
  
    button.btn-method.activeMethod
        img(src="./img/cash.svg")
        span cash
    button.btn-method
        img(src="./img/card.svg")
        span card
    button.btn-method
        img(src="./img/voucher.svg")
        span voucher