mixin counterOrderSelected

            button.btn-counterSelected.minus
                img(src="./img/minus.svg")
            button(type="input" value="1").btn-counterSelected__value
                p 1
            
            button.btn-counterSelected.add
                img(src="./img/plus.svg") 