mixin counterFood


        button.btn-counterFood.minus
            img(src="./img/minus.svg")
        button(type="input" value="0").btn-counterFood__value
            p 0
        
        button.btn-counterFood.add
            img(src="./img/plus.svg") 