mixin menuLinks
    .menuLinks__container
                       
            a.menuLinks__link#homeLink(href="../public/index.html" name="home")
                img(src="./img/home-active.svg", alt="home-icon")
                span home

            a.menuLinks__link#menuLink(href="../public/menu.html")
                img(src="./img/menu-active.svg", alt="home-icon")
                span menu
            
            a.menuLinks__link#paymentLink(href="../public/payment.html")
                img(src="./img/payment-active.svg", alt="home-icon")
                span payment
            a.menuLinks__link(href="#")
                img(src="./img/order-active.svg", alt="home-icon")
                span orders
            a.menuLinks__link(href="#")
                img(src="./img/settings-active.svg", alt="home-icon")
                span setting
            p.version V.0.1
           
    

