mixin subTotal
    .payments
        .payments__content    
            .payments__content__subtotal 
                p.subtotal subtotal
                p.subtotal--value $00,00
            .payments__content__charge 
                p.charge service charge 10%
                p.charge--value $0,00
    .totals
        .total
            h3.h3 total
            h3.totalValue $00,00
        .total-action 
            button.btn-cancel cancel order
            button.btn-send send order


           
