mixin tableTitle

   h3.h3 table list
   .main__leftSide__container__floor
     button(type="button" )#firstFloor.btn.btn-floor.floorActive first floor 
     button(type="button" )#secondFloor.btn.btn-floor second floor 
       
            
            
     