mixin confirmation
    .lotties
        .lotties__content
            .h3 your order has been sent<br>I want to continue with..
            .confirmation-action
                button.btn-tables tables
                button.btn-pay#menuSectionSentPayment payment
    