
mixin counter
    button.btn-counter.minus
        img(src="./img/minus.svg")
    button(type="input" min-value="1").counter__value
        p 1
      
    button.btn-counter.add
        img(src="./img/plus.svg") 
