mixin tableResume
    //- table(align = "center" cellspacing = "0").tableOrder
      
    //-         tr.tableHeader
    //-             th item
    //-             th price
    //-             th quantity
    //-             th(colspan="3") subtotal        
        
    //-         tr.tableItem
             
    //-             td.nameUpper chicken wings<br><sub>(starter)
    //-             td $20,00
    //-             td 1
    //-             td.subTotalDelete(colspan="3") $20,00
    //-                 button.btn-delete(id=`starter-1`)
    //-                     img(src="./img/remove.svg")
            
                